/* Definição das variáveis CSS para cores principais */
:root {
    --cor-primaria: #F464C3;
    /* Cor primária do tema */
    --cor-secundaria: #3D1C31;
    /* Cor secundária do tema */
    --cor-terciaria: #FDACE0;
    /* Cor terciária do tema */
    --branco: white;
    /* Cor branca */
    --preto: black;
    /* Cor preta */
}

/* Reset de estilos para todos os elementos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos gerais do corpo da página */
body {
    font-family: Arial, sans-serif;
    /* Fonte padrão */
    line-height: 1.6;
    /* Altura da linha */
    background-color: #f8f8f8;
    /* Cor de fundo */
}

/* Estilos do cabeçalho */
header {
    background-color: var(--cor-primaria);
    /* Cor de fundo do cabeçalho */
    display: flex;
    padding: 1rem;

    justify-content: space-between;
    /* Alinha itens ao redor */
    align-items: center;
    /* Centraliza verticalmente */
    color: var(--branco);
    /* Cor do texto */
}

/* Estilos dos links no cabeçalho */
header a {
    text-decoration: none;
    /* Remove sublinhado dos links */
    color: var(--branco);
    /* Cor do texto */
    font-size: 1.2rem;
    /* Tamanho da fonte */
}

/* Estilos do formulário de busca no cabeçalho */
#form-buscar {
    flex-grow: 1;
    /* Cresce para ocupar espaço restante */
    display: flex;
    /* Exibe como flexível */
    align-items: center;
    /* Centraliza verticalmente */
    position: relative;
    /* Posicionamento relativo */
}

/* Estilos para o campo de busca */
#buscar {
    flex-grow: 1;
    /* Cresce para ocupar espaço restante */
    padding: 0.4rem;
    /* Espaçamento interno */
    border-radius: 5px;
    /* Borda arredondada */
    border: none;
    /* Sem borda */
    outline: none;
    /* Sem contorno ao foco */
}

/* Estilos para o botão de busca no cabeçalho */
#btn-buscar {
    background-color: transparent;
    /* Cor de fundo transparente */
    border: none;
    /* Sem borda */
    position: absolute;
    /* Posicionamento absoluto */
    right: 10px;
    /* À direita */
    top: 50%;
    /* Ao centro verticalmente */
    transform: translateY(-50%);
    /* Ajusta para centralizar */
    cursor: pointer;
    /* Cursor ao passar */
}

/* Estilos para a imagem de busca no botão */
.img-search {
    width: 25px;
    /* Largura */
    object-fit: contain;
    /* Ajuste de imagem */
}

/* Estilos para os links de ícone no cabeçalho */
.icon-link {
    display: flex;
    /* Exibe como flexível */
    flex-direction: column;
    /* Direção de coluna */
    align-items: center;
    /* Centraliza verticalmente */
    margin: 0 0.5rem;
    /* Margem externa */
}

/* Estilos da navegação principal */
nav {
    display: grid;
    /* Exibe como grid */
    grid-template-columns: repeat(2, 1fr);
    /* Duas colunas iguais */
    text-align: center;
    /* Centraliza texto */
    background-color: var(--cor-terciaria);
    /* Cor de fundo */
    padding: 0.5rem;
    /* Espaçamento interno */
}

/* Estilos para o primeiro link da navegação */
nav a:first-child {
    border-right: 1px solid var(--preto);
    /* Linha divisória à direita */
}

nav a {
    text-decoration: none;
    color: black;
}


*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.about{
    width: 100%;
    padding: 78px 0px;
    background-color: #d316d33f;
}

.about img{
    height: auto;
    width: 420px;
    border-radius: 30%;

}

.about-text{
    width: 550px;
    margin-left: 10%;
}

.main{
    width: 1130px;
    max-width: 95% ;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: rgb(0, 0, 0);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;

}


span{
    color: #f9004d;
}

.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}