/* Definição das variáveis CSS para cores principais */
:root {
    --cor-primaria: #F464C3;
    /* Cor primária do tema */
    --cor-secundaria: #3D1C31;
    /* Cor secundária do tema */
    --cor-terciaria: #FDACE0;
    /* Cor terciária do tema */
    --branco: white;
    /* Cor branca */
    --preto: black;
    /* Cor preta */
}

/* Reset de estilos para todos os elementos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos gerais do corpo da página */
body {
    font-family: Arial, sans-serif;
    /* Fonte padrão */
    line-height: 1.6;
    /* Altura da linha */
    background-color: #f8f8f8;
    /* Cor de fundo */
}

/* Estilos do cabeçalho */
header {
    background-color: var(--cor-primaria);
    /* Cor de fundo do cabeçalho */
    display: flex;
    padding: 1rem;

    justify-content: space-between;
    /* Alinha itens ao redor */
    align-items: center;
    /* Centraliza verticalmente */
    color: var(--branco);
    /* Cor do texto */
}

/* Estilos dos links no cabeçalho */
header a {
    text-decoration: none;
    /* Remove sublinhado dos links */
    color: var(--branco);
    /* Cor do texto */
    font-size: 1.2rem;
    /* Tamanho da fonte */
}

/* Estilos do formulário de busca no cabeçalho */
#form-buscar {
    flex-grow: 1;
    /* Cresce para ocupar espaço restante */
    display: flex;
    /* Exibe como flexível */
    align-items: center;
    /* Centraliza verticalmente */
    position: relative;
    /* Posicionamento relativo */
}

/* Estilos para o campo de busca */
#buscar {
    flex-grow: 1;
    /* Cresce para ocupar espaço restante */
    padding: 0.4rem;
    /* Espaçamento interno */
    border-radius: 5px;
    /* Borda arredondada */
    border: none;
    /* Sem borda */
    outline: none;
    /* Sem contorno ao foco */
}

/* Estilos para o botão de busca no cabeçalho */
#btn-buscar {
    background-color: transparent;
    /* Cor de fundo transparente */
    border: none;
    /* Sem borda */
    position: absolute;
    /* Posicionamento absoluto */
    right: 10px;
    /* À direita */
    top: 50%;
    /* Ao centro verticalmente */
    transform: translateY(-50%);
    /* Ajusta para centralizar */
    cursor: pointer;
    /* Cursor ao passar */
}

/* Estilos para a imagem de busca no botão */
.img-search {
    width: 25px;
    /* Largura */
    object-fit: contain;
    /* Ajuste de imagem */
}

/* Estilos para os links de ícone no cabeçalho */
.icon-link {
    display: flex;
    /* Exibe como flexível */
    flex-direction: column;
    /* Direção de coluna */
    align-items: center;
    /* Centraliza verticalmente */
    margin: 0 0.5rem;
    /* Margem externa */
}

/* Estilos da navegação principal */
nav {
    display: grid;
    /* Exibe como grid */
    grid-template-columns: repeat(2, 1fr);
    /* Duas colunas iguais */
    text-align: center;
    /* Centraliza texto */
    background-color: var(--cor-terciaria);
    /* Cor de fundo */
    padding: 0.5rem;
    /* Espaçamento interno */
}

/* Estilos para o primeiro link da navegação */
nav a:first-child {
    border-right: 1px solid var(--preto);
    /* Linha divisória à direita */
}

nav a {
    text-decoration: none;
    color: black;
}


/* BANNER */
.banner {
    position: relative;
    /* para posicionamento absoluto*/
    width: 100%;
    height: 400px;
    background-image: url(IMG/banner-minipi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

}

.promo-texto {
    position: absolute;
    /* Posicionamento absoluto em relação ao banner */
    top: 30%;
    /* Centraliza verticalmente */
    right: 0.5%;
    /* Ajusta a posição no lado direito */
    transform: translateY(-50%);
    /* Ajusta para centralizar verticalmente */
    background-color: rgba(211, 23, 183, 0.489);
    /* Fundo semi-transparente */
    padding: 20px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
    color: black;
    /* Cor do texto */
    width: 20%;
    /* Largura do bloco de texto */
    border-radius: 10px;
    /* Borda arredondada */
}

.OFF {
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.promocao {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.verao {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.frase-promoção {
    font-style: italic;
    font-size: 29px;
    position: absolute;
    /* Posicionamento absoluto */
    
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translateX(-50%);
    /* Ajusta para centralizar horizontalmente */
    background-color: rgba(211, 23, 183, 0.719);
    /* Fundo semi-transparente branco */
    padding: 10px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
    width: 50%;
    /* Largura do bloco de texto */
    height: 7%;
    border-radius: 50px;
    /* Borda arredondada */

}



/* Estilos para a seção das imagens pequenas */
.imagens-pequena {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    margin-top: 20px;
    /* Espaçamento superior */
}

/* Estilos para cada imagem pequena */

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

/* Estilos para a seção das imagens pequenas */
.imagenspequenas-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 70px;
    /* Espaçamento entre as imagens */
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    /* Espaçamento superior */


}

/* Estilos para cada bloco de imagem pequena */
.imagem-pequena {
    width: 100%;
    /* Garante que cada imagem ocupe 100% da largura do seu contêiner */
    height: 100%;
    /* Altura automática para manter a proporção */
    object-fit: cover;
    /* Ajusta a imagem para ocupar completamente o contêiner */
    justify-content: center;
}

/*rodapé ajustes*/

/* Estilos do rodapé simples */
footer {
    background-color: var(--cor-primaria);
    /* Usando a cor secundária definida */
    color: var(--branco);
    /* Cor do texto do rodapé */
    text-align: center;
    /* Centraliza o texto */
    padding: 3rem;
    /* Espaçamento interno */
    position: relative;
    /* Para garantir que o rodapé fique no final da página */
    bottom: 0;
    width: 100%;
    /* Garante que o rodapé ocupe toda a largura da página */
    margin-top: 350px;
}

footer p {
    margin: 0;
    /* Remove a margem padrão */

}



/* AJUSTANDO RESPONSIVIDADE */
/* tamanho e posição do bloco*/
@media (max-width: 450px) {
    .promo-texto {
        position: absolute;
        /* Posicionamento absoluto em relação ao banner */
        top: 20%;
        /* Centraliza verticalmente */
        right: 10%;
        /* Ajusta a posição no lado direito */
        transform: translateY(-50%);
        /* Ajusta para centralizar verticalmente */
        background-color: rgba(211, 23, 183, 0.489);
        /* Fundo semi-transparente */
        padding: 60px;
        /* Espaçamento interno */
        text-align: center;
        /* Centraliza o texto */
        color: black;
        /* Cor do texto */
        width: 60%;
        /* Ajuste a largura conforme necessário */
        /* Largura do bloco de texto */
        height: 90px;
        /* Defina uma altura fixa para o formato retangular */
        /* Altura do bloco de texto */

        border-radius: 10px;
        /* Borda arredondada */
    }

}

/*RESPONSIVIDADE DO TEXTO DE PROMOÇÃO*/
/* FORMATO PARA TAMANHO DE SMARTPHONE MEDIO*/
@media (max-width: 450px) {
    .OFF {
        font-size: 28px;
        font-family: 'Times New Roman', Times, serif
    }

    .promocao {
        margin-top: -65px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
    }


}

@media (max-width: 450px) {

    .verao {
        font-size: 13px;
        position: relative;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
        white-space: nowrap;
        /* Evita a quebra de linha */
        right: 46px;
        top: 25px;
    }
}

/* FORMATO PARA SMARTPHONE PEQUENO*/

@media (max-width: 310px) {
    .OFF {

        font-size: 22px;
        font-family: 'Times New Roman', Times, serif
    }

    .promocao {
        font-size: 16px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
    }
}

    /* RESPONSIVIDADE DO HEAD*/

    /*---------------------------------------------------------------------------------------------------------*/

    /* Responsividade para telas menores */
    @media (max-width: 768px) {
        header {
            flex-direction: column;
            /* Alinha os itens do cabeçalho verticalmente em telas menores */
            text-align: center;
            /* Centraliza o texto no cabeçalho */
        }

        #form-buscar {
            width: 100%;
            /* Faz o formulário ocupar toda a largura disponível */
            max-width: none;
            /* Remove a limitação de largura em telas menores */
            margin-top: 1rem;
            /* Adiciona espaço acima do formulário */
            position: relative;
            /* Garante que o botão continue posicionado dentro do formulário */
        }

        #btn-buscar {
            right: 10px;
            /* Mantém o botão alinhado à direita dentro do campo de busca */
        }

        .icon-link {
            margin: 0.5rem 0;
            /* Adiciona margem superior e inferior para os ícones */
        }
    }

    @media (max-width: 480px) {
        header {
            padding: 0.5rem;
            /* Reduz o padding interno do cabeçalho em telas muito pequenas */
        }

        header a {
            font-size: 1rem;
            /* Reduz o tamanho da fonte dos links em telas menores */
        }

        #form-buscar {
            width: 100%;
            /* Faz o formulário ocupar toda a largura disponível */
            max-width: none;
            /* Remove a limitação de largura em telas menores */
            padding: 0.5rem;
            /* Adiciona padding ao redor do formulário */
            position: relative;
            /* Garante que o botão continue posicionado dentro do formulário */
        }

        #buscar {
            width: calc(100% - 40px);
            /* Ajusta a largura do campo de busca para compensar a largura do botão */
        }

        #btn-buscar {
            position: absolute;
            /* Garante que o botão esteja sempre dentro do campo de busca */
            right: 10px;
            /* Alinha o botão à direita dentro do campo de busca */
            top: 50%;
            /* Alinha verticalmente o botão ao meio do campo de busca */
            transform: translateY(-50%);
            /* Ajusta a posição vertical do botão para centralizar */
            margin: 0;
            /* Remove qualquer margem extra */
        }

        .icon-link img {
            width: 30px;
            /* Ajusta o tamanho dos ícones para telas menores */
        }
    }



    /*--------------------------------------------------------------------------------------------------*/